include ../../assets/pug/_head
include ../../assets/pug/_scripts

- title = 'Hacemos un proyecto final'
- subtitle = ''

<!DOCTYPE html>
html(lang="es")
    +head
        style.
            /*
            .ex1 {}
            */
    body
        #app.container.my-5.animate__animated.animate__fadeIn.animate__delay-1s
            h1 #{title}
            if subtitle.length>1
                h2 #{subtitle}

            .instruccion.mt-5 Después de definir el tema, las preguntas y el método de investigación del proyecto de las páginas 148 y 149 de tu libro de texto SEP, numera las siguientes actividades del 1 al 6 según el orden en que deben realizarse para una buena organización.

            .row.mt-3.ex1.trueorfalse
                    template(v-for="(i, index) in tempsobj.a")
                        .col-md-6
                            inputbox(v-model="r[index]" :ref="refCount()" @isright="right++"  type="number" placeh="#" :answer="i.n")
                                template(v-slot:before="") {{i.t}}

                





            finalize(@evaluate="finalizar" @reset="reset" :resultado="resultado" :right="right" :total="total")
        +scripts
            script.
                app.$set(app.tempsobj, 'a', [
                    {n: 6, t: 'Llegar temprano el día de la presentación.'},
                    {n: 3, t: 'Selección de información.'},
                    {n: 5, t: 'Elaboración de carteles y materiales.'},
                    {n: 2, t: 'Búsqueda de información.'},
                    {n: 4, t: 'Redacción de la presentación.'},
                    {n: 1, t: 'Reunión con mi equipo.'},
                ])