include ../../assets/pug/_head
include ../../assets/pug/_scripts

- title = 'Comparo mezclas'
- subtitle = 'Las mezclas y formas de separarlas'

<!DOCTYPE html>
html(lang="es")
    +head
        style.
            .recuadropalabras .dragdrop .draggable > div:not(.result) {
                display: flex;
                flex-wrap: wrap;
                justify-content: center;
                align-items: center;
                min-height: 120px;
            }
            .recuadropalabras .dragdrop .draggable > div:not(.result) > div {
                background: #fff;
                padding: 6px;
                margin: 6px;
                border-radius: 6px;
                box-shadow: 4px 4px 0 rgba(0, 0, 0, 0.1);
            }
            .ex1 .homo {
                background: #00AEB5;
            }
            .ex1 .homo .numbers {
                -webkit-text-stroke-color: #00AEB5;
            }
            .ex1 .hete {
                background: #AE4E8F;
            }
            .ex1 .hete .numbers {
                -webkit-text-stroke-color: #AE4E8F;
            }
            .ex1 .numbers {
                color: #fff;
                text-align: center;
            }
            .ex1 .dragdrop {
                margin: 10px;
                text-align: center;
            }
            .ex1 .dragdrop .draggable > div:not(.result) {
                background: #fff;
                border-radius: 10px;
                min-height: 120px;
            }

    body
        #app.container.my-5.animate__animated.animate__fadeIn.animate__delay-1s
            h1 #{title}
            if subtitle.length>1
                h2 #{subtitle}

            .instruccion.mt-5 Clasifica las mezclas del recuadro según su tipo.
            .recuadropalabras
                dragdrop(:options="['Cemento.','Ensalada de lechuga y tomate.','Fruta en almíbar.','Masa para galletas.','Café con leche.','Agua y aceite.','Detergente con agua.','Agua con azúcar.','Sopa de verduras.','Papas con huevo.']" :options-ok="[]")

                
            .row.mt-3.ex1
                .col-md-6.homo
                    numbers Homogéneas
                    dragdrop(v-model="r[0]" :ref="refCount()" @isright="right++" :options="[]" ignore-order :options-ok="['Cemento.','Masa para galletas.','Café con leche.','Detergente con agua.','Agua con azúcar.']")
                .col-md-6.hete
                    numbers Heterogéneas
                    dragdrop(v-model="r[1]" :ref="refCount()" @isright="right++" :options="[]" ignore-order :options-ok="['Ensalada de lechuga y tomate.','Fruta en almíbar.','Sopa de verduras.','Papas con huevo.','Agua y aceite.']")






            finalize(@evaluate="finalizar" @reset="reset" :resultado="resultado" :right="right" :total="total")
        +scripts
            script.
                //app.$set(app.tempsobj, 'a', [])