include ../../assets/pug/_head
include ../../assets/pug/_scripts

- title = 'Uso verbos en imperativo'
- subtitle = 'Lo que conozco'

<!DOCTYPE html>
html(lang="es")
    +head
        style.
            .ex1 .inputbox {
                justify-content: flex-start;
                width: 100%;
                background: #FFFCE6;
                padding: 10px;
                border-radius: 10px;
                margin-bottom: 8px;
            }
            .ex1 .inputbox input {
                width: 80px;
                font-size: 1.4rem;
                margin-right: 20px;
            }
            .wireo{
                background-image: url(aimg/2b.png);
                background-size: 100%;
                
            }
            .ex2 .cuadernotext {
                font-size: 1.2rem;
            }
            .ex2 .inputbox {
                display: inline-block;
                max-width: 140px;
                margin-right: 8px;
            }
            .ex2 .inputbox input {
                font-size: 1.1rem;
                padding: 2px;
            }


    body
        #app.container.my-5.animate__animated.animate__fadeIn.animate__delay-1s
            h1 #{title}
            if subtitle.length>1
                h2 #{subtitle}

            .instruccion.mt-5 Observa el siguiente instructivo. Después escribe el número de cada paso en la línea de la instrucción correspondiente.

            .row.mt-3
                .col-12: img(src="aimg/1a.png").w-100
            .row.mt-3.ex1
                template(v-for="(i, index) in tempsobj.a")
                    inputbox(v-model="r[index]" :ref="refCount()" @isright="right++" :answer="i.n" type="number" placeh="#")
                        template(v-slot:after="")
                            span {{i.txt}}
            
            .instruccion.mt-5 Completa el párrafo con las palabras del recuadro.


            .row: .col-12: img(src="aimg/2a.png").img-fluid.w-100


            .row.mt-3.ex2.h-100.row-eq-height
                .col-1
                .col-11.cuadernotext
                    div Los 
                        inputbox(v-model="r[6]" :ref="refCount()" @isright="right++" answer="pasos" type="text" placeh="-")
                        | en un instructivo deben estar 
                        inputbox(v-model="r[7]" :ref="refCount()" @isright="right++" answer="numerados" type="text" placeh="-")
                        | para saber el orden exacto de su realización en el procedimiento. Es importante conocer la 
                        inputbox(v-model="r[8]" :ref="refCount()" @isright="right++" answer="lista" type="text" placeh="-")
                        | de ingredientes o 
                        inputbox(v-model="r[9]" :ref="refCount()" @isright="right++" answer="materiales" type="text" placeh="-")
                        | a utilizar, de esta forma sabemos con precisión todo aquello que necesitamos conseguir para realizar la receta o el objeto del que trata el instructivo. Los 
                        inputbox(v-model="r[10]" :ref="refCount()" @isright="right++" answer="verbos" type="text" placeh="-")
                        | en los instructivos, por lo general, se escriben en
                        inputbox(v-model="r[11]" :ref="refCount()" @isright="right++" answer="imperativo" type="text" placeh="-")
                        | para enfatizar la acción a realizar.

            





            finalize(@evaluate="finalizar" @reset="reset" :resultado="resultado" :right="right" :total="total")
        +scripts
            script.
                app.$set(app.tempsobj, 'a', [
                    {n: 1, txt: 'Derrite los 100 g de chocolate amargo en una cacerola.'},
                    {n: 4, txt: 'Vacía la mezcla hasta la mitad de un vaso.'},
                    {n: 6, txt: 'Espolvorea chocolate y canela en polvo.'},
                    {n: 2, txt: 'Bate el chocolate y luego añade crema líquida y azúcar.'},
                    {n: 5, txt: 'Agrega crema batida al gusto.'},
                    {n: 3, txt: 'Vierte el café en la cacerola y sigue batiendo.'},
                ])