include ../../assets/pug/_head
include ../../assets/pug/_scripts
include ../../assets/pug/_table

- title = 'Estimo porcentajes'
- subtitle = 'Dinero electrónico / La mejor tienda / En busca de descuentos / Recargos'

<!DOCTYPE html>
html(lang="es")
    +head
        style.
            @media (max-width: 680px) {
                .tablemod {
                    font-size: 0.5rem;
                }
            }
            .tablemod .inputbox {
                font-weight: bold;
            }
            .tablemod .inputbox input {
                max-width: 80px;
                margin: 0 3px;
            }
            @media (max-width: 680px) {
                .tablemod .inputbox input {
                    font-size: 0.6rem;
                    padding: 1px;
                    max-width: 30px;
                }
            }
            .tablemod .col:not(.cl_0) {
                text-align: center;
            }
            .tablemod .ix_0 .col {
                background: var(--accent);
                color: #fff;
                text-align: center;
                font-weight: bold;
            }
            .tablemod .ix_0 .cl_2 {
                flex-basis: 20%;
            }
            .tablemod .col.cl_2 > span > div {
                display: flex;
                text-align: center;
            }
            .tablemod .col.cl_2 > span > div > div {
                width: 50%;
            }

    body
        #app.container.my-5.animate__animated.animate__fadeIn.animate__delay-1s
            h1 #{title}
            if subtitle.length>1
                h2 #{subtitle}

            .instruccion.mt-5 Rebeca quiere comprar por internet regalos para su familia y visitó un sitio con varios descuentos. Observa el ejemplo y completa la tabla.
            
            .row: .col-12: img(src="aimg/a.png").w-100
            
            .row.mt-3.ex1
                .col
                    - var tb = []
                    - tb.push([ 'Producto', 'Precio original', 'Descuento <div><div>%</div><div>$</div></div>', 'Precio con descuento' ])
                    - tb.push([ 'Oso gigante de goma', '$200', '40%', '$80', '$120' ])
                    - tb.push([ 'Vestido con bolsillos', [700, '$'], [20,'','%'], [140,'$'], [560,'$'] ])
                    - tb.push([ 'Juego de mesa', [600, '$'], [30,'','%'], [180,'$'], [420,'$'] ])
                    - tb.push([ 'Audífonos inalámbricos', [500, '$'], [25,'','%'], [125,'$'], [375,'$'] ])
                    - tb.push([ 'Libro', [300, '$'], [15,'','%'], [45,'$'], [255,'$'] ])
                    - tb.push([ 'Plumones de arte', [900, '$'], [50,'','%'], [450,'$'], [450,'$'] ])
                    +table(0, tb, true)
            





            finalize(@evaluate="finalizar" @reset="reset" :resultado="resultado" :right="right" :total="total")
        +scripts
            script.
                //app.$set(app.tempsobj, 'a', [])