include ../../assets/pug/_head
include ../../assets/pug/_scripts

- title = 'Reconozco las amenazas para la Tierra'
- subtitle = ''

<!DOCTYPE html>
html(lang="es")
    +head
        style.
            .img-fluid{
                border-radius: 10px;
                max-width: 220px;
            }
            .choose .options {
                flex-wrap: wrap;
                font-size: 1rem;
                margin: 0;
            }
            .choose .options div {
                padding: 8px;
                border-radius: 6px;
                background: #f5f5f5;
                margin: 4px;
                border: none;
                line-height: 1;
            }
            .choose .options div.active {
                border: none;
                background: var(--main);
                color: #fff;
            }
            .ex {
                background: #FDE8CF;
                padding: 10px;
                border-radius: 10px;
                box-shadow: 4px 4px 0 rgba(0, 0, 0, 0.1);
            }
            .ex:nth-child(even) {
                background: #E7F1D8;
            }

    body
        #app.container.my-5.animate__animated.animate__fadeIn.animate__delay-1s
            h1 #{title}
            if subtitle.length>1
                h2 #{subtitle}

            .instruccion.mt-5 Observa las imágenes y selecciona los nombres correspondientes de las actividades que dañan a los ecosistemas.

            .row.mt-3.ex
                .col-12.text-center: img(src="aimg/a1.png").img-fluid
                .col-12: choose(v-model="r[0]" key="0" :ref="refCount()" text="Provoca el agotamiento de las propiedades del suelo, por eso se recomienda la rotación de cultivos." :options="tempsobj.a" @isright="right++" answer="Monocultivo")
            .row.mt-3.ex
                .col-12.text-center: img(src="aimg/a2.png").img-fluid
                .col-12: choose(v-model="r[1]" key="1" :ref="refCount()" text="La tala indiscriminada provoca la erosión del suelo, la cual a su vez afecta el ciclo del agua disminuyendo la filtración a los mantos acuíferos." :options="tempsobj.a" @isright="right++" answer="Tala de árboles")
            .row.mt-3.ex
                .col-12.text-center: img(src="aimg/a3.png").img-fluid
                .col-12: choose(v-model="r[2]" key="2" :ref="refCount()" text="Las cadenas alimentarias se rompen, y provocan la extinción de especies." :options="tempsobj.a" @isright="right++" answer="Caza indiscriminada")
            .row.mt-3.ex
                .col-12.text-center: img(src="aimg/a4.png").img-fluid
                .col-12: choose(v-model="r[3]" key="3" :ref="refCount()" text="El ecosistema se deteriora dejando a muchos seres vivos sin su hábitat." :options="tempsobj.a" @isright="right++" answer="Incendios")
            .row.mt-3.ex
                .col-12.text-center: img(src="aimg/a5.png").img-fluid
                .col-12: choose(v-model="r[4]" key="4" :ref="refCount()" text="Provoca aridez al suelo, ya sea por la creación de pastizales, o por el pisoteo del ganado." :options="tempsobj.a" @isright="right++" answer="Ganadería")
            .row.mt-3.ex
                .col-12.text-center: img(src="aimg/a6.png").img-fluid
                .col-12: choose(v-model="r[5]" key="5" :ref="refCount()" text="Al cambiar el cauce de los ríos se producen sequías o inundaciones afectando la flora y la fauna." :options="tempsobj.a" @isright="right++" answer="Construcción de presas")
            





            finalize(@evaluate="finalizar" @reset="reset" :resultado="resultado" :right="right" :total="total")
        +scripts
            script.
                app.$set(app.tempsobj, 'a', 
                    _.shuffle(['Monocultivo', 'Tala de árboles', 'Construcción de presas', 'Ganadería', 'Caza indiscriminada', 'Incendios'])
                )