include ../../assets/pug/_head
include ../../assets/pug/_scripts

- title = 'Conozco la diversidad lingüística de México'
- subtitle = ''

<!DOCTYPE html>
html(lang="es")
    +head
        style.
            .relational .sources > div,
            .relational .targets > div {
                border: none !important;
            }
            .relational .sources > div img,
            .relational .targets > div img {
                max-width: 200px;
            }
            @media (max-width: 680px) {
                .relational .sources > div img,
                .relational .targets > div img {
                    max-width: 120px;
                }
            }

    body
        #app.container.my-5.animate__animated.animate__fadeIn.animate__delay-1s
            h1 #{title}
            if subtitle.length>1
                h2 #{subtitle}

            .instruccion.mt-5 Une con líneas cada una de las piezas a su significado correspondiente para que conozcas más palabras en lengua náhuatl.

            .row.mt-3.ex1
                .col
                    relational(v-if="tempsobj.sources" v-model="d['rela']" :ref="refCount()" @isright="right++" :sources="tempsobj.sources" :targets="tempsobj.targets" :oks="tempsobj.oks")
                        template(v-slot:source="{source}"): img(:src="source.i").img-fluid
                        template(v-slot:target="{target}"): img(:src="target.i").img-fluid
                    
            





            finalize(@evaluate="finalizar" @reset="reset" :resultado="resultado" :right="right" :total="total")
        +scripts
            script.
                app.$set(app.tempsobj, 'sources', [
                    {i: 'aimg/a1.png'},
                    {i: 'aimg/a2.png'},
                    {i: 'aimg/a3.png'},
                    {i: 'aimg/a4.png'},
                    {i: 'aimg/a5.png'},
                    {i: 'aimg/a6.png'},
                    {i: 'aimg/a7.png'},
                    {i: 'aimg/a8.png'},
                    {i: 'aimg/a9.png'},
                    {i: 'aimg/a10.png'}
                ])
                app.$set(app.tempsobj, 'targets', [
                    {i: 'aimg/b1.png'},
                    {i: 'aimg/b2.png'},
                    {i: 'aimg/b3.png'},
                    {i: 'aimg/b4.png'},
                    {i: 'aimg/b5.png'},
                    {i: 'aimg/b6.png'},
                    {i: 'aimg/b7.png'},
                    {i: 'aimg/b8.png'},
                    {i: 'aimg/b9.png'},
                    {i: 'aimg/b10.png'}

                ])
                app.$set(app.tempsobj, 'oks', [
                    ['s_0', 't_5'],
                    ['s_1', 't_0'],
                    ['s_2', 't_7'],
                    ['s_3', 't_1'],
                    ['s_4', 't_6'],
                    ['s_5', 't_9'],
                    ['s_6', 't_2'],
                    ['s_7', 't_3'],
                    ['s_8', 't_4'],
                    ['s_9', 't_8'],
                ])