include ../../assets/pug/_head
include ../../assets/pug/_scripts

- title = 'Prevenimos en la escuela'
- subtitle = 'Prevención de desastres'

<!DOCTYPE html>
html(lang="es")
    +head
        style.
            /*
            .ex1 {}
            */
    body
        #app.container.my-5.animate__animated.animate__fadeIn.animate__delay-1s
            h1 #{title}
            if subtitle.length>1
                h2 #{subtitle}

            .instruccion.mt-5 Marca así <checkmark></checkmark> los suministros que deben ir en una mochila o bolsa de emergencia en caso de desastre.


            .row.mt-3.ex1
                template(v-for="(i, index) in [1, 1, 1, 1, 1, 0]")
                    .col-md-4: check(v-model="r[index]" :ref="refCount()" initclass="withimg"  @isright="right++" :answer="i"): img(:src="'aimg/a'+(index+1)+'.png'").img-fluid
            





            finalize(@evaluate="finalizar" @reset="reset" :resultado="resultado" :right="right" :total="total")
        +scripts
            script.
                //app.$set(app.tempsobj, 'a', [])