include ../../assets/pug/_head
include ../../assets/pug/_scripts

- title = 'Comparo ideas sobre el mundo'
- subtitle = 'Las concepciones europeas del mundo'

<!DOCTYPE html>
html(lang="es")
    +head
        style.
            @media (max-width: 680px) {
                .label {
                    font-size: 0.8rem;
                }
            }

    body
        #app.container.my-5.animate__animated.animate__fadeIn.animate__delay-1s
            h1 #{title}
            if subtitle.length>1
                h2 #{subtitle}

            .instruccion.mt-5 Repasa las ideas que tenían los europeos del siglo XV acerca del mundo. Relaciona la columna izquierda con los conceptos de la derecha, escribiendo el número correcto en cada círculo. Consulta las páginas 122 y 123 de tu libro de texto SEP.

            .row.mt-3.ex1
                .col-md-6.verticalrow
                    labeltext(num="1.") Se consideraba como el centro del universo.
                    labeltext(num="2.") Este continente era desconocido para los europeos.
                    labeltext(num="3.") En esa época desconocían qué tanto se extendía al sur este continente.
                    labeltext(num="4.") Así se le conoce a la teoría que afirmaba que los planetas y el Sol giraban alrededor de la Tierra.
                    labeltext(num="5.") Astrónomo del siglo II que propuso que la Tierra era el centro del universo.
                    labeltext(num="6.") Embarcaciones que podían recorrer mayores distancias y fueron empleadas en los viajes de exploración.
                    labeltext(num="7.") Teoría cuyo nombre significa que el Sol es el centro del sistema planetario.
                    labeltext(num="8.") Tomó el pensamiento heliocéntrico en sus investigaciones, hasta que el Tribunal de la Santa Inquisición lo obligó a retractarse.
                    labeltext(num="9.") Fueron instrumentos que ayudaron a los navegantes a recorrer grandes distancias en barcos más grandes.
                    labeltext(num="10.") Reinos que se aventuraron a investigar nuevas rutas realizando largos viajes, aprovechando su situación geográfica.
            
                .col-md-6.trueorfalse.left
                    template(v-for="(i, index) in tempsobj.a")
                        inputbox(v-model="d['a'+index]" initclass="ib2" :ref="refCount()" @isright="right++"  type="number" placeh="#" :answer="i.n")
                            template(v-slot:after="") {{i.t}}




            finalize(@evaluate="finalizar" @reset="reset" :resultado="resultado" :right="right" :total="total")
        +scripts
            script.
                app.$set(app.tempsobj, 'a', [
                    {n: 5, t:'Ptolomeo.'},
                    {n: 10, t:'Portugal y España.'},
                    {n: 4, t:'Geocéntrica.'},
                    {n: 9, t:'Astrolabio y brújula.'},
                    {n: 1, t:'La Tierra.'},
                    {n: 3, t:'África.'},
                    {n: 6, t:'Carabelas y galeones.'},
                    {n: 2, t:'América.'},
                    {n: 7, t:'Heliocéntrica.'},
                    {n: 8, t:'Galileo Galilei.'},
                ])