include ../../assets/pug/_head
include ../../assets/pug/_scripts

- title = 'Reconozco el universo'
- subtitle = 'Conocimiento de las características del universo'

<!DOCTYPE html>
html(lang="es")
    +head
        style.
            .ex2 .label {
                text-align: center;
                background: var(--rightcol);
                border-radius: 6px;
                padding: 10px 0;
            }

    body
        #app.container.my-5.animate__animated.animate__fadeIn.animate__delay-1s
            h1 #{title}
            if subtitle.length>1
                h2 #{subtitle}

            .instruccion.mt-5 Escribe en el recuadro el número que corresponda a cada definición. Consulta las páginas 148 a 157 de tu libro de texto SEP.

            .row.mt-3.ex1
                .col-md-6.verticalrow
                    labeltext(num="1.") Es el nombre de la galaxia de la que forma parte nuestro sistema solar.
                    labeltext(num="2.") Es la estrella y el cuerpo de mayor tamaño del sistema solar.
                    labeltext(num="3.") Son los cuerpos semejantes a una esfera, son de diferentes tamaños y emiten luz.
                    labeltext(num="4.") Es el nombre de las estrellas con luces pequeñas que al unirlas con líneas imaginarias forman figuras.
                    labeltext(num="5.") Son los cuerpos celestes que se mueven en torno a los planetas.
                .col-md-6.trueorfalse.left.verticalrow
                    template(v-for="(i, index) in tempsobj.a")
                            inputbox(v-model="d['a'+index]" :ref="refCount()" @isright="right++"  type="number" placeh="#" :answer="i[0]")
                                template(v-slot:after="") {{i[1]}}
            


            .instruccion.mt-5 Marca así <checkmark></checkmark> las tecnologías que se utilizan para estudiar el universo. Después contesta la pregunta. Consulta las páginas 160 y 161 de tu libro de texto SEP.

            .row.mt-3.ex2
                .col-md-4
                    check(v-model="r[0]" initclass="withimg" :ref="refCount()"  @isright="right++" :answer="true")
                        img(:src="'aimg/'+'a'+'.png'").img-fluid
                        labeltext() Transbordador
                .col-md-4
                    check(v-model="r[1]" initclass="withimg" :ref="refCount()"  @isright="right++" :answer="true")
                        img(:src="'aimg/'+'b'+'.png'").img-fluid
                        labeltext() Estación espacial
                .col-md-4
                    check(v-model="r[2]" initclass="withimg" :ref="refCount()"  @isright="right++" :answer="true")
                        img(:src="'aimg/'+'c'+'.png'").img-fluid
                        labeltext() Observatorio

            finalize(@evaluate="finalizar" @reset="reset" :resultado="resultado" :right="right" :total="total")
        +scripts
            script.
                app.$set(app.tempsobj, 'a', [
                    [3, 'Estrellas'],
                    [1, 'Vía Láctea'],
                    [4, 'Constelaciones'],
                    [5, 'Satélites'],
                    [2, 'Sol'],
                ])