include ../../assets/pug/_head
include ../../assets/pug/_scripts

- title = 'Identifico los ángulos'
- subtitle = 'Cuadrados y rectángulos iguales'

<!DOCTYPE html>
html(lang="es")
    +head
        style.
            .hou {
                position: relative;
            }
            .selectable {
                width: 5%;
                height: 5%;
                position: absolute;
                left: 0;
                top: 0;
                background: rgba(100, 230, 100, 0.8);
                border-radius: 50%;
            }
            .selectable .circledactive {
                transform: scale(1.8);
                border-width: 3px;
            }
            .selectable:nth-child(1) {
                left: 37%;
                top: 23%;
            }
            .selectable:nth-child(2) {
                left: 56%;
                top: 25%;
            }
            .selectable:nth-child(3) {
                left: 56%;
                top: 45%;
            }
            .selectable:nth-child(4) {
                left: 37%;
                top: 48%;
            }
            .selectable:nth-child(5) {
                left: 11%;
                top: 92%;
            }
            .selectable:nth-child(6) {
                left: 38.5%;
                top: 92%;
            }
            .selectable:nth-child(7) {
                left: 56.5%;
                top: 61%;
            }
            .selectable:nth-child(8) {
                left: 17%;
                top: 59%;
            }
            .selectable:nth-child(9) {
                left: 59%;
                top: 93%;
            }
            .selectable:nth-child(10) {
                left: 78%;
                top: 59%;
            }
            .selectable:nth-child(11) {
                left: 91%;
                top: 93%;
            }
            .selectable:nth-child(12) {
                left: 75.5%;
                top: 82%;
            }
            .selectable:nth-child(13) {
                left: 5%;
                top: 39%;
            }
            .selectable:nth-child(14) {
                left: 84%;
                top: 34%;
            }
            .selectable:nth-child(15) {
                left: 90%;
                top: 39%;
            }


    body
        #app.container.my-5.animate__animated.animate__fadeIn.animate__delay-1s
            h1 #{title}
            if subtitle.length>1
                h2 #{subtitle}

            .instruccion.mt-5 Lee la sección Te cuento que... de tu libro MDA 2º página 195. Después, observa la siguiente figura y selecciona los lugares donde se forman ángulos rectos.
            
            .row: .col-12: .hou
                img(src="aimg/a1.png").w-100
                .selec
                    template(v-for="(i, index) in 15")
                        selectable(:isok="index<=11" v-model="r[index]" :ref="refCount()" @isright="right++")



            finalize(@evaluate="finalizar" @reset="reset" :resultado="resultado" :right="right" :total="total")
        +scripts
            script.
                