include ../../assets/pug/_head
include ../../assets/pug/_scripts

- title = 'Cuido el medioambiente'
- subtitle = 'El compromiso social para el cuidado del ambiente'

<!DOCTYPE html>
html(lang="es")
    +head
        style.
            /*
            .ex1 {}
            */
    body
        #app.container.my-5.animate__animated.animate__fadeIn.animate__delay-1s
            h1 #{title}
            if subtitle.length>1
                h2 #{subtitle}

            .instruccion.mt-5 Encierra la palabra que completa correctamente el siguiente texto.

            .row.mt-3
                .parrafoinputs.c2
                    | El desarrollo 
                    selectable(:isok="true" initclass="txt" v-model="r[0]" :ref="refCount()" @isright="right++"): strong sustentable
                    |  / #[strong no renovable] está compuesto por acciones que podemos llevar a cabo el día de hoy y que van a tener un impacto #[strong negativo] /  
                    selectable(:isok="true" initclass="txt" v-model="r[1]" :ref="refCount()" @isright="right++"): strong positivo
                    |  en el futuro, pero no funcionará si sólo lo hace una persona, o si son aplicadas de forma global durante un sólo día, estas acciones requieren de 
                    selectable(:isok="true" initclass="txt" v-model="r[2]" :ref="refCount()" @isright="right++"): strong constancia
                    |  / #[strong indiferencia] y 
                    selectable(:isok="true" initclass="txt" v-model="r[3]" :ref="refCount()" @isright="right++"): strong compromiso
                    |  / #[strong desarrollo], para que el día de mañana continuemos 
                    selectable(:isok="true" initclass="txt" v-model="r[4]" :ref="refCount()" @isright="right++"): strong disfrutando
                    |  / #[strong contaminando] de un planeta limpio y con una gran variedad de especies animales.

            .instruccion.mt-5 Marca así <checkmark></checkmark> los problemas ambientales que existen en tu localidad.

            .row.mt-3.ex2
                template(v-for="(i, index) in tempsobj.a")
                    .col-md-6: check(v-model="d['ex2'+index]" :ref="refCount()"  @isright="right++" :answer="i.v" :text="i.t")


            finalize(@evaluate="finalizar" @reset="reset" :resultado="resultado" :right="right" :total="total")
        +scripts
            script.
                app.$set(app.tempsobj, 'a', [
                    {v:1, t:'Contaminación del agua.'},
                    {v:1, t:'Tala de bosques.'},
                    {v:0, t:'Desaparición de la fauna y la flora.'},
                    {v:1, t:'Contaminación del aire.'},
                    {v:0, t:'Falta de agua potable.'},
                    {v:1, t:'Destrucción de ecosistemas por la urbanización.'},
                ])