include ../../assets/pug/_head
include ../../assets/pug/_scripts

- title = '¿Cómo transformamos la naturaleza?'
- subtitle = 'Relación entre las propiedades de los materiales y su consumo responsable'

<!DOCTYPE html>
html(lang="es")
    +head
        style.
            .objetos {
                display: flex;
                flex-direction: column;
            }
            .objetos > div {
                height: 100%;
                display: flex;
                flex-direction: column;
            }
            .objetos > div > div {
                height: 100%;
                display: flex;
                flex-direction: column;
            }
            .objetos > div > div > div {
                height: 100%;
                display: flex;
                flex-direction: column;
                justify-content: space-around;
            }
            .objetos > div > div > div > div {
                cursor: move;
                background: var(--clear);
                padding: 10px;
                text-align: center;
                border-radius: 10px;
                box-shadow: 4px 4px 0 var(--sec);
                color: var(--sec);
                font-size: 1.2rem;
            }
            .propiedades {
                display: flex;
                flex-direction: column;
                justify-content: space-between;
            }
            .propiedades > div {
                background: var(--sec);
                color: #fff;
                padding: 10px;
                border-radius: 10px;
                box-shadow: 4px 4px 0 var(--clear);
                color: var(--clear);
                margin: 10px 0;
            }
            @media (max-width: 760px){
                .propiedades > div {
                    font-size: 0.8rem;
                }
            }

    body
        #app.container.my-5.animate__animated.animate__fadeIn.animate__delay-1s
            h1 #{title}
            if subtitle.length>1
                h2 #{subtitle}

            .instruccion.mt-5 Relaciona cada objeto con sus propiedades arrastrándolo.

            .row.mt-3.ex1
                .col-6.objetos
                    dragdrop(v-model="r[0]" :ref="refCount()" @isright="right++" :options="_.shuffle(tempsobj.a)" :options-ok="tempsobj.a" v-if="tempsobj.a")
                .col-6.propiedades
                    div Está hecho de vidrio y sus propiedades lo favorecen porque tiene dureza y tenacidad.
                    div Está hecho de madera y sus propiedades lo favorecen porque es rígido y resistente.
                    div Está hecho de plástico y sus propiedades lo favorecen porque es ligero e impermeable.


            finalize(@evaluate="finalizar" @reset="reset" :resultado="resultado" :right="right" :total="total")
        +scripts
            script.
                app.$set(app.tempsobj, 'a', ['Vaso', 'Librero', 'Paraguas' ])