include ../../assets/pug/_head
include ../../assets/pug/_scripts

- title = 'Sé cómo cambian los materiales'
- subtitle = 'Características de los estados físicos y sus cambios'

<!DOCTYPE html>
html(lang="es")
    +head
        style.
            /*
            .ex1 {}
            */
    body
        #app.container.my-5.animate__animated.animate__fadeIn.animate__delay-1s
            h1 #{title}
            if subtitle.length>1
                h2 #{subtitle}

            .row: .col-12: img(src="aimg/tecuento.png").w-100

            .instruccion.mt-5 Escribe #[strong V] si la afirmación es verdadera o #[strong F] si es falsa.

            .row.mt-3.ex1
                .col-12.trueorfalse
                    template(v-for="(i, index) in tempsobj.ex1" v-if="tempsobj.ex1")
                        inputbox(v-model="r[index]" :ref="refCount()" @isright="right++" :answer="i.v" type="text" placeh="-")
                            template(v-slot:before="")
                                labeltext(:num="(index+1)+'.'") {{i.t}}






            finalize(@evaluate="finalizar" @reset="reset" :resultado="resultado" :right="right" :total="total")
        +scripts
            script.
                app.$set(app.tempsobj, 'ex1', [
                    {v: 'V', t: 'Cuando un líquido llega a su punto de ebullición pasa al estado gaseoso.'},
                    {v: 'F', t: 'Los gases tienen forma y volumen definidos.'},
                    {v: 'V', t: 'El agua hierve a los 100 ºC aproximadamente.'},
                    {v: 'V', t: 'Al cuarto estado de la materia se le denomina plasma.'},
                    {v: 'V', t: 'Los materiales en estado sólido no se pueden comprimir.'},
                    {v: 'F', t: 'La propiedad de compresión de los materiales consiste en que recuperan su volumen al quitar una presión externa.'},
                ])