include ../../assets/pug/_head
include ../../assets/pug/_scripts

- title = 'Conozco la importancia del agua'
- subtitle = 'La importancia del agua / Evitemos el desperdicio del agua'

<!DOCTYPE html>
html(lang="es")
    +head
        style.
            .imagerelative .items > div{width:14%;height:20%}.imagerelative .items > div:nth-child(1){left:17%;top:70%}
            .imagerelative .items > div:nth-child(2){left:50%;top:52%}.imagerelative .items > div:nth-child(3){left:70%;top:52%}
    body
        #app.container.my-5.animate__animated.animate__fadeIn.animate__delay-1s
            h1 #{title}
            if subtitle.length>1
                h2 #{subtitle}

            .instruccion.mt-5 Observa la imagen y marca así <markex></markex> las acciones que contaminan el agua.

            .row.mt-3.ex1: .col-12
                .imagerelative
                    img(src="aimg/a.png").w-100
                    .items
                        template(v-for="(i, index) in 3")
                            selectable(:isok="true" v-model="r[index]" :ref="refCount()" @isright="right++" ex)
            
            .row.mt-3.ex2
                template(v-for="(i, index) in [1,0,1,0,1,0,1,1]")
                    .col-md-3: check(v-model="r[index+3]" :ref="refCount()"  @isright="right++" :answer="i"): img(:src="imgpath('b',index+1)", alt="").img-fluid





            finalize(@evaluate="finalizar" @reset="reset" :resultado="resultado" :right="right" :total="total")
        +scripts
            script.
                //app.$set(app.tempsobj, 'a', [])