include ../../assets/pug/_head
include ../../assets/pug/_scripts

- title = '¡Se me trabó la lengua!'
- subtitle = 'Palabras y sabores'

<!DOCTYPE html>
html(lang="es")
    +head
        style.
            /*
            .ex1 {}
            */
    body
        #app.container.my-5.animate__animated.animate__fadeIn.animate__delay-1s
            h1 #{title}
            if subtitle.length>1
                h2 #{subtitle}

            .instruccion.mt-5 Lee el siguiente trabalenguas.

            .row: .col-12: img(src="aimg/a1.png").w-100
            
            .instruccion.mt-5 Selecciona la respuesta correcta.
            
            .row.mt-3.ex2
                .col-12
                    choose(v-model="r[0]" :ref="refCount()" num="1." text="Es una diferencia entre los dos trabalenguas anteriores." :options="['Las palabras en español son más cortas que en huave.', 'La <strong>z</strong> se escribe con mayúscula.']" @isright="right++" :answer-num="0")
                .col-12
                    choose(v-model="r[1]" :ref="refCount()" num="2." text="¿Cómo se dice <strong>zorro</strong> en lengua huave?" :options="['Chincül.', 'Wiül.']" @isright="right++" :answer-num="1")
                .col-12
                    choose(v-model="r[2]" :ref="refCount()" num="3." text="¿Tienen la misma cantidad de palabras los dos trabalenguas?" :options="['Sí.', 'No.']" @isright="right++" :answer-num="0")

            .instruccion.mt-5 Lee y copia en los campos las siguientes palabras en #[strong español] y en #[strong huave].

            .row.mt-3.ex3
                .col-md-4
                    img(src="aimg/b1.png").img-fluid
                    inputbox(v-model="r[3]" :ref="refCount()" @isright="right++" answer="caracol" type="text" placeh="Español.")
                    inputbox(v-model="r[4]" :ref="refCount()" @isright="right++" answer="chiüng" type="text" placeh="Huave.")
                .col-md-4
                    img(src="aimg/b2.png").img-fluid
                    inputbox(v-model="r[5]" :ref="refCount()" @isright="right++" answer="lagartija" type="text" placeh="Español.")
                    inputbox(v-model="r[6]" :ref="refCount()" @isright="right++" answer="jamiün" type="text" placeh="Huave.")
                .col-md-4
                    img(src="aimg/b3.png").img-fluid
                    inputbox(v-model="r[7]" :ref="refCount()" @isright="right++" answer="zorro" type="text" placeh="Español.")
                    inputbox(v-model="r[8]" :ref="refCount()" @isright="right++" answer="wiül" type="text" placeh="Huave.")




            finalize(@evaluate="finalizar" @reset="reset" :resultado="resultado" :right="right" :total="total")
        +scripts
            script.
                //app.$set(app.tempsobj, 'a', [])