include ../../assets/pug/_head
include ../../assets/pug/_scripts

- title = 'Quiero ser presidente'
- subtitle = 'De los caudillos al presidencialismo'

<!DOCTYPE html>
html(lang="es")
    +head
        style.
            .names,
            .descs {
                display: flex;
                flex-direction: column;
                justify-content: space-around;
                gap: 6px;
            }
            .name {
                background: #FBE0C2;
                text-align: center;
                padding: 10px;
                border-radius: 10px;
                border: 2px solid var(--sec);
                box-shadow: 4px 4px 0 #004082;
            }
            .name strong {
                font-size: 2rem;
                color: #005093;
            }
            .desc {
                padding: 10px;
                border-radius: 10px;
                border: 2px solid var(--clear);
                box-shadow: 4px 4px 0 rgba(0, 0, 0, 0.1);
            }
            .desc .inputbox {
                text-align: center;
            }
            .desc .inputbox input {
                max-width: 120px;
                font-size: 1.4rem;
            }
            .desc:nth-child(1) {
                background: #FEEFBA;
            }
            .desc:nth-child(2) {
                background: #ABCDE2;
            }
            .desc:nth-child(3) {
                background: #E0C2D4;
            }
            .desc:nth-child(4) {
                background: #F9D4AD;
            }
            .desc:nth-child(5) {
                background: #ABCDE2;
            }
            @media (max-width:680px){
                .name, .desc{
                    font-size: 0.8rem;
                }
            }

    body
        #app.container.my-5.animate__animated.animate__fadeIn.animate__delay-1s
            h1 #{title}
            if subtitle.length>1
                h2 #{subtitle}

            .instruccion.mt-5 Relaciona los nombres con cada descripción. Consulta las páginas 118 a 120 de tu libro de texto SEP.

            .row.mt-3.ex1
                .col-4.names
                    div.name
                        strong A
                        p Plutarco Elías Calles.
                    div.name
                        strong B
                        p Venustiano Carranza.
                    div.name
                        strong C
                        p Álvaro Obregón.
                    div.name
                        strong D
                        p Adolfo de la Huerta.
                .col-8.descs
                    div.desc
                        inputbox(v-model="r[0]" :ref="refCount()" @isright="right++" answer="B" type="text" placeh="-")
                        p Tuvo la responsabilidad de inaugurar y poner en funcionamiento el nuevo gobierno posrevolucionario.
                    div.desc
                        inputbox(v-model="r[1]" :ref="refCount()" @isright="right++" answer="D" type="text" placeh="-")
                        p Ocupó la presidencia temporalmente mientras se realizaban elecciones. Duró seis meses en el cargo.
                    div.desc
                        inputbox(v-model="r[2]" :ref="refCount()" @isright="right++" answer="C" type="text" placeh="-")
                        p Presidente de grandes habilidades políticas y militares. Llevó a cabo el reparto agrario, protegió la propiedad privada, ganó el apoyo de los obreros, arregló los problemas con Estados Unidos y fundó la SEP.
                    div.desc
                        inputbox(v-model="r[3]" :ref="refCount()" @isright="right++" answer="A" type="text" placeh="-")
                        p Este presidente creó el Banco de México en 1925 y negoció con otros gobiernos para un mayor beneficio de México en la explotación de sus recursos naturales.
                    div.desc
                        inputbox(v-model="r[4]" :ref="refCount()" @isright="right++" answer="C" type="text" placeh="-")
                        p Presidente electo que fue asesinado antes de tomar posesión del cargo por segunda ocasión.
            





            finalize(@evaluate="finalizar" @reset="reset" :resultado="resultado" :right="right" :total="total")
        +scripts
            script.
                //app.$set(app.tempsobj, 'a', [])