include ../../assets/pug/_head
include ../../assets/pug/_scripts

- title = 'Identifico los elementos de la carta'
- subtitle = 'Seleccionar una nota de interés para opinar sobre ella'

<!DOCTYPE html>
html(lang="es")
    +head
        style.
            .carta {
                background: #F8F4ED;
                padding: 10px;
                border-radius: 10px;
                box-shadow: 4px 4px 0 rgba(0, 0, 0, 0.1);
            }
            @media (max-width: 680px) {
                .carta {
                    font-size: 0.6rem;
                }
            }
            .carta .inputbox input {
                font-size: 1rem;
                padding: 0;
                margin-left: 4px;
                border-radius: 4px;
            }
            @media (max-width: 680px) {
                .carta .inputbox input {
                    font-size: 0.6rem;
                }
            }
            .carta .row {
                align-items: center;
                padding: 10px 0;
                border-radius: 5px;
                margin: 0;
                background: linear-gradient(to right, #F8F4ED, #F0EEE6);
            }
            .inputbox + .inputbox{
                margin-top: 20px;
            }

    body
        #app.container.my-5.animate__animated.animate__fadeIn.animate__delay-1s
            h1 #{title}
            if subtitle.length>1
                h2 #{subtitle}

            .instruccion.mt-5 Escribe en la carta de opinión el número correcto para identificar cada una de sus partes.
            .row.mt-3
                .col-md-4
                    labeltext(num="1.") Nombre del remitente.
                    labeltext(num="2.") Opinión.
                    labeltext(num="3.") Despedida cordial.
                    labeltext(num="4.") Lugar y fecha.
                    labeltext(num="5.") Motivo de la carta.
                    labeltext(num="6.") Argumento que respalda la opinión.
                    labeltext(num="7.") Saludo cordial.
                    labeltext(num="8.") Datos del destinatario.
                .col-md
                    .carta
                        .row.mt-3.no-gutters
                            .col.text-right Guanajuato, Gto., a 7 de mayo de 2020.
                            .col-2: inputbox(v-model="r[0]" :ref="refCount()" @isright="right++" :answer="4" type="number" placeh="#")
                        .row.mt-3.no-gutters
                            .col
                                | Lic. Antonio Roca. 
                                br
                                | Presidente municipal.
                                br
                                | Presente.
                            .col-2: inputbox(v-model="r[1]" :ref="refCount()" @isright="right++" :answer="8" type="number" placeh="#")
                        .row.mt-3.no-gutters
                            .col Le extiendo un cordial #[strong saludo] y le envío esta #[strong carta] para comentarle mi punto de vista sobre la invasión de músicos informales en el centro histórico.
                            .col-2
                                inputbox(v-model="r[2]" :ref="refCount()" @isright="right++" :answer="7" type="number" placeh="#")
                                inputbox(v-model="r[3]" :ref="refCount()" @isright="right++" :answer="5" type="number" placeh="#")
                        .row.mt-3.no-gutters
                            .col Considero que el ruido excesivo que producen las bandas de músicos informales en los restaurantes y bares de la ciudad está afectando al turismo considerablemente. Es bien sabido que las tradicionales estudiantinas son parte del folclor de nuestra ciudad y desde mi punto de vista los músicos informales han generado una #[strong competencia] desleal ante tan tradicional forma de expresión. No estoy de acuerdo en que se les permita a los músicos informales acaparar al turismo que poco a poco se aleja de las tradiciones locales, ya que, según las estadísticas de la Secretaría de Turismo, los visitantes gastan un 25 % menos en estudiantinas durante la temporada alta.
                            .col-2
                                inputbox(v-model="r[4]" :ref="refCount()" @isright="right++" :answer="2" type="number" placeh="#")
                                inputbox(v-model="r[5]" :ref="refCount()" @isright="right++" :answer="6" type="number" placeh="#")
                        .row.mt-3.no-gutters
                            .col Agradezco de antemano que lea esta #[strong carta] y tome en cuenta mis opiniones para que nuestra ciudad siga mejorando y se preserven las tradiciones.
                            .col-2
                                inputbox(v-model="r[6]" :ref="refCount()" @isright="right++" :answer="3" type="number" placeh="#")
                        .row.mt-3.no-gutters
                            .col.text-center 
                                | Atentamente
                                br
                                | Esteban de Anda López.
                                br
                                | Líder de la “Estudiantina de Colores”.
                            .col-2
                                inputbox(v-model="r[7]" :ref="refCount()" @isright="right++" :answer="1" type="number" placeh="#")





            finalize(@evaluate="finalizar" @reset="reset" :resultado="resultado" :right="right" :total="total")
        +scripts
            script.
                //app.$set(app.tempsobj, 'a', [])