include ../../assets/pug/_head
include ../../assets/pug/_scripts

- title = 'Escribo cartas formales'
- subtitle = 'Producto final'

<!DOCTYPE html>
html(lang="es")
    +head
        style.
            .tablemod .row:first-child .col {
                background: var(--pastel1);
            }
            .tablemod .row .col {
                display: flex;
                justify-content: center;
                align-items: center;
                text-align: center;
            }
            @media (max-width: 680px) {
                .tablemod .row .col {
                    font-size: 0.6rem;
                }
                .tablemod .row .col .inputbox input {
                    font-size: 0.6rem;
                }
            }
            .tablemod .inputbox {
                width: 100%;
            }
            .tablemod .col:nth-child(2) {
                max-width: 13%;
                text-align: center;
            }
            .tablemod .check .checkbox {
                margin: 0;
            }
            @media (max-width: 680px) {
                .check .checkbox {
                    width: 20px;
                    height: 20px;
                    flex-basis: 20px;
                }
                img {
                    vertical-align: top;
                }
            }


    body
        #app.container.my-5.animate__animated.animate__fadeIn.animate__delay-1s
            h1 #{title}
            if subtitle.length>1
                h2 #{subtitle}

            .instruccion.mt-5 Lee la siguiente carta. Después, completa el cuadro de características con base en el contenido de la carta. 

            .row: .col-12: img(src="aimg/carta.png").w-100

            .row.mt-3.ex1
                .col
            

            .tablemod
                .row.no-gutters.text-center
                    .col Elemento
                    .col Está presente
                    .col Texto
                .row.no-gutters
                    .col: strong Fecha de la carta
                    .col: check(v-model="r[0]" :ref="refCount()"  @isright="right++" :answer="true")
                    .col: inputbox(v-model="r[1]" initclass="" :ref="refCount()" @isright="right++"  type="text" placeh="-" answer="Guadalajara, Jal., 12 de abril de 2019")
                .row.no-gutters
                    .col: strong Saludo
                    .col: check(v-model="r[2]" :ref="refCount()"  @isright="right++" :answer="true")
                    .col: inputbox(v-model="r[3]" initclass="" :ref="refCount()" @isright="right++"  type="text" placeh="-" answer="Estimada directora: Muy buenos días, espero que se encuentre bien.")
                .row.no-gutters
                    .col: strong Expresiones que sitúan en el tiempo
                    .col: check(v-model="r[4]" :ref="refCount()"  @isright="right++" :answer="false")
                    .col: inputbox(v-model="r[5]" initclass="" :ref="refCount()" @isright="right++"  type="text" placeh="-" answer="")
                .row.no-gutters
                    .col: strong Expresiones que sitúan en el lugar
                    .col: check(v-model="r[6]" :ref="refCount()"  @isright="right++" :answer="false")
                    .col: inputbox(v-model="r[7]" initclass="" :ref="refCount()" @isright="right++"  type="text" placeh="-" answer="")
                .row.no-gutters
                    .col: strong Lenguaje adaptado al destinatario
                    .col: check(v-model="r[8]" :ref="refCount()"  @isright="right++" :answer="true")
                    .col: inputbox(v-model="r[9]" initclass="" :ref="refCount()" @isright="right++"  type="text" placeh="-" answer="Me gustaría tener la oportunidad de entrevistarme con usted")




            finalize(@evaluate="finalizar" @reset="reset" :resultado="resultado" :right="right" :total="total")
        +scripts
            script.
                //app.$set(app.tempsobj, 'a', [])