include ../../assets/pug/_head
include ../../assets/pug/_scripts

- title = 'Sumo y resto fracciones'
- subtitle = '¿Me sobra o me falta?'

<!DOCTYPE html>
html(lang="es")
    +head
        style.
            .frac {
                text-align: center;
                font-size: 1.4rem;
            }
            .frac hr {
                margin: 5px auto;
                border: none;
                border-top: 4px solid var(--sec);
                min-width: 30px;
            }
            .frac .inputbox input {
                border-radius: 6px;
                padding: 0 2px;
                font-size: 1.4rem;
                max-width: 50px;
                margin: 0 6px;
            }
            .numbers {
                color: var(--accent);
                margin: 0 6px;
            }

    body
        #app.container.my-5.animate__animated.animate__fadeIn.animate__delay-1s
            h1 #{title}
            if subtitle.length>1
                h2 #{subtitle}
            
            .row: embedvideo(urlid="mA04xPazH-E" title="Fracciones impropias y mixtas")

            .instruccion.mt-5 Completa las siguientes operaciones.

            .row.mt-3.ex1
                .col-md-6.verticalrow
                    .row.centerrow.common.c1.mt-1
                        .frac 4<hr>10
                        numbers +
                        .frac 6<hr>10
                        numbers =
                        .frac
                            inputbox(v-model="r[0]" :ref="refCount()" @isright="right++" :answer="10" type="number" placeh="#")
                            hr
                            inputbox(v-model="r[1]" :ref="refCount()" @isright="right++" :answer="10" type="number" placeh="#")
            

                    .row.centerrow.common.c2.mt-1
                        .frac 5<hr>5
                        numbers -
                        .frac
                            inputbox(v-model="r[2]" :ref="refCount()" @isright="right++" :answer="3" type="number" placeh="#")
                            hr
                            inputbox(v-model="r[3]" :ref="refCount()" @isright="right++" :answer="5" type="number" placeh="#")
                        numbers =
                        .frac 2<hr>5
            

                    .row.centerrow.common.c3.mt-1
                        .frac
                            inputbox(v-model="r[4]" :ref="refCount()" @isright="right++" :answer="4" type="number" placeh="#")
                            hr
                            inputbox(v-model="r[5]" :ref="refCount()" @isright="right++" :answer="7" type="number" placeh="#")
                        numbers +
                        .frac 1<hr>7
                        numbers =
                        .frac 5<hr>7
            
                    .row.centerrow.common.c4.mt-1
                        .frac 7<hr>8
                        numbers -
                        .frac 3<hr>8
                        numbers =
                        .frac
                            inputbox(v-model="r[6]" :ref="refCount()" @isright="right++" :answer="4" type="number" placeh="#")
                            hr
                            inputbox(v-model="r[7]" :ref="refCount()" @isright="right++" :answer="8" type="number" placeh="#")
            

                    .row.centerrow.common.c5.mt-1
                        .frac 9<hr>9
                        numbers -
                        .frac
                            inputbox(v-model="r[8]" :ref="refCount()" @isright="right++" :answer="5" type="number" placeh="#")
                            hr
                            inputbox(v-model="r[9]" :ref="refCount()" @isright="right++" :answer="9" type="number" placeh="#")
                        numbers +
                        .frac 2<hr>9
                        numbers =
                        .frac 6<hr>9

                    .row.centerrow.common.c1.mt-1
                        .frac 2<hr>6
                        numbers +
                        .frac 3<hr>6
                        numbers =
                        .frac
                            inputbox(v-model="r[10]" :ref="refCount()" @isright="right++" :answer="5" type="number" placeh="#")
                            hr
                            inputbox(v-model="r[11]" :ref="refCount()" @isright="right++" :answer="6" type="number" placeh="#")
            

                    .row.centerrow.common.c2.mt-1
                        .frac 3<hr>4
                        numbers -
                        .frac 2<hr>4
                        numbers =
                        .frac
                            inputbox(v-model="r[12]" :ref="refCount()" @isright="right++" :answer="1" type="number" placeh="#")
                            hr
                            inputbox(v-model="r[13]" :ref="refCount()" @isright="right++" :answer="4" type="number" placeh="#")
            

                .col-md-6: img(src="aimg/a.png", alt="").img-fluid



            finalize(@evaluate="finalizar" @reset="reset" :resultado="resultado" :right="right" :total="total")
        +scripts
            script.
                //