include ../../assets/pug/_head
include ../../assets/pug/_scripts

- title = 'titulo'
- subtitle = ''

<!DOCTYPE html>
html(lang="es")
    +head
        style.
            .ex1 .sum {
                background: #f5f5f5;
                padding: 10px;
                border-radius: 10px;
                margin-bottom: 10px;
                text-align: right;
                font-size: 1.4rem;
                letter-spacing: 5px;
            }
            .ex1 .sum hr {
                border-top: 3px solid var(--accent);
            }
            .ex1 .sum .inputbox input {
                font-size: 1.4rem;
                padding: 1px;
                text-align: right;
                border-radius: 4px;
                letter-spacing: 5px;
            }
            .numbers{
                display: inline-block;
                font-size: 1.8rem;
            }
    body
        #app.container.my-5.animate__animated.animate__fadeIn.animate__delay-1s
            h1 #{title}
            if subtitle.length>1
                h2 #{subtitle}

            .instruccion.mt-5 Resuelve las siguientes sumas. Utiliza el procedimiento de la sección <em>Te cuento que...</em> de tu libro MDA 2º página 184.
            .row.mt-3.ex1.justify-content-center
                .col-md-3.col-6(v-for="(i, index) in tempsobj.a"): .sum
                    div {{i.v1}}
                    div #[numbers(c=4) +] {{i.v2}}
                    hr
                    inputbox(v-model="r[index]" :ref="refCount()" @isright="right++" :answer="i.v1+i.v2" type="number" placeh="#")


            





            finalize(@evaluate="finalizar" @reset="reset" :resultado="resultado" :right="right" :total="total")
        +scripts
            script.
                app.$set(app.tempsobj, 'a', [
                    {v1: 19, v2: 63},
                    {v1: 31, v2: 38},
                    {v1: 24 , v2: 47},
                    {v1: 18, v2: 55},
                    {v1: 46, v2: 22},
                    {v1: 17, v2: 12},
                    {v1: 33, v2: 19},
                    {v1: 54, v2: 23},
                    {v1: 19, v2: 18},
                    {v1: 33, v2: 9},
                ])