include ../../assets/pug/_head
include ../../assets/pug/_scripts

- title = 'Estimo el contenido'
- subtitle = '¿A cuál le cabe más?'

<!DOCTYPE html>
html(lang="es")
    +head
        style.
            .inputbox input {
                padding: 2px;
                font-size: 1.4rem;
            }
            .instruccion img{
                max-width: 60px;
            }


    body
        #app.container.my-5.animate__animated.animate__fadeIn.animate__delay-1s
            h1 #{title}
            if subtitle.length>1
                h2 #{subtitle}

            .instruccion.mt-5 Enumera los recipientes de mayor a menor según su capacidad.

            .row.mt-3.ex1
                .col-12: img(src="aimg/a1.png").img-fluid
                template(v-for="(i, index) in [3,1,5,2,4]")
                    .col: inputbox(v-model="r[index]" :ref="refCount()" @isright="right++" :answer="i" type="number" placeh="#")
            
            .instruccion.mt-5 Escribe en los recuadros cuántos veces cabe #[img(src="aimg/l.png")] en cada envase.

            .row.mt-3.ex1
                .col-12: img(src="aimg/a2.png").img-fluid
                template(v-for="(i, index) in [8,4,3,2,1]")
                    .col: inputbox(v-model="r[index+5]" :ref="refCount()" @isright="right++" :answer="i" type="number" placeh="#")




            finalize(@evaluate="finalizar" @reset="reset" :resultado="resultado" :right="right" :total="total")
        +scripts
            script.
                //app.$set(app.tempsobj, 'a', [])