include ../../assets/pug/_head
include ../../assets/pug/_scripts

- title = 'Confirmo lo que aprendí'
- subtitle = ''


<!DOCTYPE html>
html(lang="es")
    +head
        style.
            .blank{border-bottom:2px solid var(--main);width:50px;display:inline-block}
            .frc{display:inline-block;text-align:center;vertical-align:middle}
            .choose .options div hr,.frc hr{borde:none;border-top:2px solid var(--sec);min-width:40px;margin:0}
            .choose .options div{;padding:6px;border-bottom:none; border-radius: 10px; background:#f5f5f5;}
            .choose .options div.active{border:2px solid var(--main);background:#fff;box-shadow:4px 4px 0 rgba(0,0,0,.1)}
            .choose .options div{ display: flex; flex-direction: column; justify-content: center; align-items: center; }
            .choose .options div img{ max-width: 120px; border-radius: 6px; }
            img{ display: block; margin: 0 auto; width: 100%; max-width: 380px; }
            .choose .options div img.im1{ max-width: 80px; }
            .choose .options div img.im2{ max-width: 60px; }
        
        body
        #app.container.my-5.animate__animated.animate__fadeIn.animate__delay-1s
            h1 #{title}
            if subtitle.length>1
                h2 #{subtitle}

            .instruccion.mt-5 Marca la respuesta correcta.

            .row.mt-3
                .col-12
                    template(v-for="(i, index) in temps")
                        choose(:key="index" v-model="r[index]" :ref="refCount()" :num="(index+1)+'.'" :text="i.p" :options="i.ops" @isright="right++" :answer="i.ops[i.a]")

            

            finalize(@evaluate="finalizar" @reset="reset" :resultado="resultado" :right="right" :total="total")
        +scripts
            script.
                app.$set(app, 'temps', [
                    {
                        p: 'Es la lengua indígena que más se habla en México.',
                        ops: ['Maya.','Náhuatl.', 'Huichol.'],
                        a:1
                    },
                    {
                        p: '¿Cómo se llama el material visual de apoyo que utilizamos al exponer para mostrar imágenes o textos breves?',
                        ops: ['Carteles.','Libros.', 'Postales.'],
                        a:0
                    },
                    {
                        p: 'Es una característica de las cartas personales.',
                        ops: ['El lenguaje informal.','El lenguaje formal.','El lenguaje técnico.'],
                        a:0
                    },
                    {
                        p: 'Son ejemplos de deícticos, excepto uno. ¿Cuál es?',
                        ops: ['Allá.','Ella.','Además.'],
                        a:2
                    },
                    {
                        p: 'Así se le llama a la persona que recibe una carta.',
                        ops: ['Destinatario.','Remitente.','Cartero.'],
                        a:0
                    },
                    {
                        p: 'Son un medio de comunicación que nos permite comunicarnos de forma inmediata directa con gente alrededor del mundo.',
                        ops: ['Faxes.','Redes sociales.','Cartas.'],
                        a:1
                    },
                    {
                        p: '¿Cuál es el tipo de texto en el que se expresan emociones y sentimientos?',
                        ops: ['La poesía.','La autobiografía.','La entrevista.'],
                        a:0
                    },
                    {
                        p: 'Es el número de sílabas que tiene un verso.',
                        ops: ['Estrofa.','Soneto.','Métrica.'],
                        a:2
                    },
                    {
                        p: 'Es el tipo de palabra al final del verso que resta una sílaba al conteo total.',
                        ops: ['Aguda.','Esdrújula.','Grave.'],
                        a:1
                    },
                    {
                        p: 'Es el nombre que recibe el libro en el que podemos coleccionar recuerdos.',
                        ops: ['Guía.','Recetario.','Álbum.'],
                        a:2
                    },

                    /*
                    {
                        p: '',
                        ops: [''],
                        a:0
                    },
                    */
                    
                ])

