include ../../assets/pug/_head
include ../../assets/pug/_scripts

- title = 'Identifico los sonidos'
- subtitle = '¿Cómo conozco lo que no veo??'

<!DOCTYPE html>
html(lang="es")
    +head
        style.
            .palabras {
                background: #FBE9EB;
                padding: 10px;
                border-radius: 10px;
            }
            .palabras .numbers {
                font-size: 1.8rem;
            }
            .ex1 {
                padding: 10px;
                border-radius: 10px;
                border: 2px solid var(--main);
                box-shadow: 6px 6px 0 rgba(0, 0, 0, 0.1);
            }
            .ex1 .inputbox {
                display: inline-block;
            }
            .ex1 .inputbox input {
                border: 2px solid var(--main);
                background: #F9E7E9;
                color: var(--main);
                font-size: 1.2rem;
            }
            @media (max-width: 680px) {
                .ex1 img {
                    max-width: 240px;
                }
            }

    body
        #app.container.my-5.animate__animated.animate__fadeIn.animate__delay-1s
            h1 #{title}
            if subtitle.length>1
                h2 #{subtitle}

            .instruccion.mt-5 Observa las imágenes y utiliza las palabras en el recuadro para escribir la que completa cada enunciado.
            .palabras.text-center.row.justify-content-center.align-items-center: .col(v-for="(i, index) in ['lluvia','ruidoso','bonito']"): numbers(c=1) {{i}} 
            .row.mt-3.ex1.justify-content-center.align-items-center
                .col-md-4.text-center: img(src="i/1a.png").img-fluid
                .col-md-8
                    labeltext(num="1.") El sonido de la 
                        inputbox(v-model="r[0]" :ref="refCount()" @isright="right++" answer="lluvia" type="text" placeh="-")
                        | , cuando es ligera, puede ser muy tranquilo y relajante.
            .row.mt-3.ex1.justify-content-center.align-items-center
                .col-md-4.text-center: img(src="i/1b.png").img-fluid
                .col-md-8
                    labeltext(num="1.") El sonido de la batería es muy fuerte y
                        inputbox(v-model="r[1]" :ref="refCount()" @isright="right++" answer="ruidoso" type="text" placeh="-")
                        | .
            .row.mt-3.ex1.justify-content-center.align-items-center
                .col-md-4.text-center: img(src="i/1c.png").img-fluid
                .col-md-8
                    labeltext(num="1.") El sonido del canto del ave es muy 
                        inputbox(v-model="r[2]" :ref="refCount()" @isright="right++" answer="bonito" type="text" placeh="-")
                        | .
            





            finalize(@evaluate="finalizar" @reset="reset" :resultado="resultado" :right="right" :total="total")
        +scripts
            script.
                //app.$set(app.tempsobj, 'a', [])