include ../../assets/pug/_head
include ../../assets/pug/_scripts
include ../../assets/pug/_parrafo

- title = 'Conozco a las heroínas de México'
- subtitle = 'La Independencia y la búsqueda de una sociedad más igualitaria'

<!DOCTYPE html>
html(lang="es")
    +head
        style.
            .imgbgMod.soup .inputs .selectable {
                height: 8%;
            }
            .imgbgMod.soup .inputs .selectable:nth-child(1) {
                top: 2%;
                width: 59%;
            }
            .imgbgMod.soup .inputs .selectable:nth-child(2) {
                left: 8%;
                top: 10.6%;
                width: 63%;
            }
            .imgbgMod.soup .inputs .selectable:nth-child(3) {
                top: 28%;
                width: 46%;
            }
            .imgbgMod.soup .inputs .selectable:nth-child(4) {
                left: 14%;
                top: 46%;
                width: 44%;
            }
            .imgbgMod.soup .inputs .selectable:nth-child(5) {
                left: 26%;
                top: 81%;
                width: 38%;
            }
            .imgbgMod.soup .inputs .selectable:nth-child(6) {
                left: 1.3%;
                top: 28%;
                height: 53%;
                width: 6%;
            }
            .imgbgMod.soup .inputs .selectable:nth-child(7) {
                left: 14%;
                top: 46%;
                height: 53%;
                width: 6%;
            }
            .imgbgMod.soup .inputs .selectable:nth-child(8) {
                left: 58.2%;
                top: 19%;
                height: 70%;
                width: 6%;
            }
            .imgbgMod.soup .inputs .selectable:nth-child(9) {
                left: 64.6%;
                top: 19%;
                height: 79%;
                width: 6%;
            }
            .imgbgMod.soup .inputs .selectable:nth-child(10) {
                left: 0;
                top: 24%;
                height: 125%;
                width: 6%;
                transform-origin: 0 0;
                transform: rotate(-52deg);
            }

    body
        #app.container.my-5.animate__animated.animate__fadeIn.animate__delay-1s
            h1 #{title}
            if subtitle.length>1
                h2 #{subtitle}

            .instruccion.mt-5 Completa el texto con las palabras del recuadro y después búscalas en la sopa de letras.

            recuadropalabras(:palabras="['Domínguez', 'realistas', 'virrey','Patriotas', 'Iraeta', 'Morelos', 'insurgente', 'Medina', 'Vicario', 'Capitana']" c=8)

            .row.mt-3.ex1
                .col
                    - var arr = []
                    - arr.push('Durante el movimiento ')
                    - arr.push(['insurgente'])
                    - arr.push(' destacaron algunas mujeres por su valor y compromiso. Manuela ')
                    - arr.push(['Medina'])
                    - arr.push(', por ejemplo, era una indígena mejor conocida como La')
                    - arr.push(['Capitana'])
                    - arr.push('. Ella luchó en el ejército de José María ')
                    - arr.push(['Morelos'])
                    - arr.push('. Por otro lado, Leona ')
                    - arr.push(['Vicario'])
                    - arr.push(' donó parte de su fortuna para hacer viable la lucha insurgente, y además, proporcionó armas y ayudó a reclutar soldados. Josefa Ortiz de')
                    - arr.push(['Domínguez'])
                    - arr.push(' es conocida porque organizaba reuniones secretas contra el ')
                    - arr.push(['virrey'])
                    - arr.push('. Por el lado de los ')
                    - arr.push(['realistas'])
                    - arr.push(', algunas mujeres, lideradas por Ana')
                    - arr.push(['Iraeta']) 
                    - arr.push(' de Mier, recolectaban fondos para ayudar a las familias de los soldados realistas. A estas mujeres se les conoció como Las ')
                    - arr.push(['Patriotas'])
                    - arr.push(' Marianas.')

                    +parrafo(0, arr, 'c4')
            .row.mt-3.ex2
                .col
                    imgbg(img="aimg/soup.png" initclass="soup")
                        template(v-for="(i, index) in 10")
                            selectable(:isok="true" v-model="d['s'+index]" :ref="refCount()" @isright="right++")


            finalize(@evaluate="finalizar" @reset="reset" :resultado="resultado" :right="right" :total="total")
        +scripts
            script.
                //app.$set(app.tempsobj, 'a', [])