include ../../assets/pug/_head
include ../../assets/pug/_scripts

- title = 'Sé cómo prevenir'
- subtitle = 'Vamos a prevenir / Desastres'

<!DOCTYPE html>
html(lang="es")
    +head
        style.
            .ex1 .choose {
                background: #f5f5f5;
            }
            .ex1 .choose.v {
                background: var(--rightcol);
                color: #fff;
            }
            .ex1 .choose.r {
                background: var(--main);
                color: #fff;
            }
            .ex1 .choose .options div {
                text-indent: -9999px;
                width: 30px;
                height: 30px;
                overflow: hidden;
                border: 4px solid #fff;
                border-radius: 6px;
                box-shadow: 4px 4px 0 rgba(0,0,0,0.05);
            }
            .ex1 .choose .options div:nth-child(1) {
                background: var(--rightcol);
            }
            .ex1 .choose .options div:nth-child(2) {
                background: var(--main);
            }

    body
        #app.container.my-5.animate__animated.animate__fadeIn.animate__delay-1s
            h1 #{title}
            if subtitle.length>1
                h2 #{subtitle}

            .instruccion.mt-5 Colorea de #[strong.right verde] la iniciativa creada por la ONU para prevenir y reducir los efectos de los desastres, y de #[strong.main rojo] el organismo encargado de la misma tarea en nuestro país. Consulta la página 168 de tu libro de texto SEP.

            .row.mt-3.ex1.text-center
                .col-md-6
                    choose(v-model="r[0]" :initclass="r[0]" :ref="refCount()"  text="Estrategia Internacional para la Reducción de Desastres (EIRD)." :options="['v', 'r']" @isright="right++" :answer-num="0")
                .col-md-6
                    choose(v-model="r[1]" :initclass="r[1]" :ref="refCount()" text="Centro Nacional de Prevención de Desastres (Cenapred)." :options="['v', 'r']" @isright="right++" :answer-num="1")
            
            .instruccion.mt-5 Marca así <checkmark></checkmark> las acciones necesarias para reducir el riesgo de un desastre.

            .row.mt-3.ex2.centerrow
                template(v-for="(i, index) in tempsobj.a")
                    .col-md-6: div(:class="['common', 'c'+(index+1)]").d-flex.centerrow
                        check(v-model="d['ex2'+index]" :ref="refCount()" initclass="withtxt" @isright="right++" :answer="i.v" :text="i.t")



            finalize(@evaluate="finalizar" @reset="reset" :resultado="resultado" :right="right" :total="total")
        +scripts
            script.
                app.$set(app.tempsobj, 'a', [
                    {v:1, t:'Promover la limpieza de los cuerpos de agua.'},
                    {v:0, t:'Promover el uso de una mochila para cargar diario documentos importantes.'},
                    {v:0, t:'Escribir en un mapa los países con riesgo de sismo.'},
                    {v:1, t:'Representar en planos o croquis los peligros y zonas de seguridad.'},
                    {v:1, t:'Realizar un plan familiar para evitar desastres.'},
                    {v:1, t:'Conocer las instituciones que pueden brindar ayuda en una contingencia.'},
                    {v:1, t:'Tener a la mano los teléfonos y las ubicaciones de algunas agrupaciones de ayuda.'},
                    {v:0, t:'Realizar una ruta de escape para correr en caso de un sismo.'},
                ])