include ../../assets/pug/_head
include ../../assets/pug/_scripts

- title = 'Sé de los problemas ambientales'
- subtitle = 'Problemas ambientales'

<!DOCTYPE html>
html(lang="es")
    +head
        style.
            img.img-fluid{
                max-width: 220px;
            }
            @media (max-width: 680px) {
                .sources img.img-fluid {
                    max-width: 80px;
                }
                .relation,
                .middles,
                .targets {
                    font-size: 0.5rem;
                    max-width: 30% !important;
                }
            }

    body
        #app.container.my-5.animate__animated.animate__fadeIn.animate__delay-1s
            h1 #{title}
            if subtitle.length>1
                h2 #{subtitle}

            .instruccion.mt-5 Relaciona con una línea cada componente natural con las formas en que se #[strong.clear contamina] y sus #[strong.accent efectos]. Consulta la página 114 de tu Atlas de geografía del mundo SEP.

            .row.mt-3.ex
                .col
                    relational(v-if="tempsobj.sources" v-model="d['rela']" :ref="refCount()" @isright="right++" :sources="tempsobj.sources" :targets="tempsobj.targets" :middles="tempsobj.middles" :oks="tempsobj.oks")
                        template(v-slot:source="{source}"): img(:src="source.i").img-fluid
                        template(v-slot:middle="{middle}"): div.text-center.px-1 {{middle.t}}
                        template(v-slot:target="{target}"): div.text-center.px-1 {{target.t}}
                    

            .instruccion.mt-5 Selecciona el mapa de la página 115 de tu Atlas de geografía del mundo SEP y contesta lo siguiente.

            labeltext(num="1.") Colorea el recuadro que indique el problema ambiental más común en México.
            
            .row.mt-3.ex2.centerrow.text-center
                .col-md-4: check(v-model="r[0]" :ref="refCount()"  initclass="coloring" @isright="right++" :answer="true" text="Pérdida de biodiversidad.")
                .col-md-4: check(v-model="r[1]" :ref="refCount()"  initclass="coloring" @isright="right++" :answer="false" text="Proceso de desertificación.")
                .col-md-4: check(v-model="r[2]" :ref="refCount()"  initclass="coloring" @isright="right++" :answer="false" text="Demasiada emisión de CO<sup>2</sup>.")
            
            
            labeltext(num="2.") Selecciona cuál es uno de los continentes con más áreas de emisión de CO2.
            
            .row.mt-3.ex2.centerrow.text-center
                .col-md-4: selectable(:isok="false" initclass="txt" v-model="r[3]" :ref="refCount()" @isright="right++") Oceanía.
                .col-md-4: selectable(:isok="false" initclass="txt" v-model="r[4]" :ref="refCount()" @isright="right++") África.
                .col-md-4: selectable(:isok="true" initclass="txt" v-model="r[5]" :ref="refCount()" @isright="right++") Europa.


            
            
           

            finalize(@evaluate="finalizar" @reset="reset" :resultado="resultado" :right="right" :total="total")
        +scripts
            script.
                app.$set(app.tempsobj, 'sources', [
                    {i: 'aimg/a1.png'},
                    {i: 'aimg/a2.png'},
                    {i: 'aimg/a3.png'},
                ])
                app.$set(app.tempsobj, 'middles', [
                    {t: 'Emisión de gases producidos por la combustión de autos o por la industria.'},
                    {t: 'Derrame de aguas residuales, sustancias radioactivas, basura y petróleo.'},
                    {t: 'Liberación de productos químicos como herbicidas o petróleo, o vertederos de basura.'},
                ])
                app.$set(app.tempsobj, 'targets', [
                    {t: 'Contaminación de ríos, lagos y depósitos subterráneos; pérdida de animales y plantas.'},
                    {t: 'Cambio de clima, lluvia ácida y enfermedades respiratorias.'},
                    {t: 'Erosión, pérdida de la cubierta vegetal, extinción de animales.'},
                ])
                app.$set(app.tempsobj, 'oks', [
                    ['m_0', 's_0'],
                    ['m_0', 't_1'],
                    
                    ['m_1', 's_2'],
                    ['m_1', 't_0'],
                    
                    ['m_2', 's_1'],
                    ['m_2', 't_2'],
                ])