include ../../assets/pug/_head
include ../../assets/pug/_scripts

- title = 'Aprendo más sobre México'
- subtitle = 'México en el contexto de la Segunda Guerra Mundial'

<!DOCTYPE html>
html(lang="es")
    +head
        style.
            .ex2 .check {
                text-align: center;
                justify-content: center;
                background: #f5f5f5;
            }
            .ex2 .check .checkbox {
                display: none;
            }
            .ex2 .check.activecheck {
                border: 2px solid var(--main);
            }

    body
        #app.container.my-5.animate__animated.animate__fadeIn.animate__delay-1s
            h1 #{title}
            if subtitle.length>1
                h2 #{subtitle}

            .instruccion.mt-5 Escribe #[strong V] si el enunciado es verdadero o #[strong F] si es falso.

            .col-12.trueorfalse
                template(v-for="(i, index) in tempsobj.TorF" v-if="tempsobj.TorF")
                    inputbox(v-model="r[index]" :ref="refCount()" @isright="right++" :answer="i.v" type="text" placeh="-")
                        template(v-slot:before="")
                            labeltext(:num="(index+1)+'.'") {{i.t}}

            .instruccion.mt-5 Encierra las demandas de los campesinos, los obreros y la clase media durante el proceso de industrialización del país.

            .row.mt-3.ex2.centerrow
                template(v-for="(i, index) in tempsobj.ex2")
                    .col-md-4: check(v-model="r[index+5]" :ref="refCount()"  @isright="right++" :answer="i.v" :text="i.t")





            finalize(@evaluate="finalizar" @reset="reset" :resultado="resultado" :right="right" :total="total")
        +scripts
            script.
                app.$set(app.tempsobj, 'TorF', [
                    {v: 'V', t: 'Estados Unidos temía que los países latinoamericanos apoyaran a los países del Eje.'},
                    {v: 'V', t: 'Al iniciarse la Segunda Guerra Mundial, México se declaró neutral al conflicto.'},
                    {v: 'F', t: 'México no participó con apoyos o recursos durante la Segunda Guerra Mundial.'},
                    {v: 'V', t: 'En el año de 1942 dos buques petroleros mexicanos fueron atacados porsubmarinos alemanes.'},
                    {v: 'V', t: 'El entonces presidente Manuel Ávila Camacho decidió apoyar a los países aliados y declaró la guerra a los países del Eje.'},
                ])

                app.$set(app.tempsobj, 'ex2', [
                    {v:1, t:'Reparto de tierras.'},
                    {v:1, t:'Salarios justos.'},
                    {v:1, t:'Respeto a los partidos de oposición.'},
                    {v:0, t:'Implementación de la tecnología en sus áreas de trabajo.'},
                    {v:0, t:'Derecho a la compra de productos en el extranjero.'},
                    {v:1, t:'Respeto a los derechos laborales y a su organización.'},
                ])