include ../../assets/pug/_head
include ../../assets/pug/_scripts

- title = 'Exploro el guion de teatro'
- subtitle = 'Analizamos obras de teatro'

<!DOCTYPE html>
html(lang="es")
    +head
        style.
            .imgbgMod .inputs .selectable {
                position: absolute;
                left: 0;
                top: 0;
                width: 8%;
                height: 10%;
                border-radius: 4px;
            }
            .imgbgMod .inputs .selectable .circledactive {
                display: none;
            }
            .imgbgMod .inputs .selectable.on {
                border: 2px solid var(--wrongcol);
                background: rgba(200, 0, 0, 0.1);
                border-radius: 4px;
            }
            .imgbgMod .inputs .selectable .result {
                transform: scale(0.5);
                top: -15px;
                right: -15px;
            }
            .imgbgMod .inputs .selectable:nth-child(1) {
                top: 0.8%;
                width: 75.3%;
            }
            .imgbgMod .inputs .selectable:nth-child(2) {
                left: 25%;
                top: 11.8%;
                width: 58.5%;
            }
            .imgbgMod .inputs .selectable:nth-child(3) {
                left: 8%;
                top: 22.7%;
                width: 67%;
            }
            .imgbgMod .inputs .selectable:nth-child(4) {
                left: 0;
                top: 33.8%;
                width: 100%;
            }
            .imgbgMod .inputs .selectable:nth-child(5) {
                left: 0;
                top: 78.2%;
                width: 91.8%;
            }
            .imgbgMod .inputs .selectable:nth-child(6) {
                left: 16.5%;
                top: 89.5%;
                width: 83.5%;
            }
            .imgbgMod .inputs .selectable:nth-child(7) {
                left: 91.8%;
                top: 11.5%;
                height: 66%;
                width: 8%;
            }
            .imgbgMod .inputs .selectable:nth-child(8) {
                left: 58.5%;
                top: 44%;
                height: 55.5%;
                width: 8%;
            }

    body
        #app.container.my-5.animate__animated.animate__fadeIn.animate__delay-1s
            h1 #{title}
            if subtitle.length>1
                h2 #{subtitle}

            .instruccion.mt-5 Encuentra en la sopa de letras las palabras que se relacionan con una obra de teatro.

            recuadropalabras(:palabras="['VESTUARIO','ACTORES','DIÁLOGOS','ESCENOGRAFÍA','GUION','TEATRO','ACOTACIONES','PERSONAJES']" c=3)

            .row.mt-3.ex1.justify-content-center
                .col-md-6
                    imgbg(img="aimg/soup.png" initclass="ex1")
                        template(v-for="(i, index) in 8")
                            selectable(:isok="true" v-model="r[index]" :ref="refCount()" @isright="right++")
            





            finalize(@evaluate="finalizar" @reset="reset" :resultado="resultado" :right="right" :total="total")
        +scripts
            script.
                //app.$set(app.tempsobj, 'a', [])