include ../../assets/pug/_head
include ../../assets/pug/_scripts

- title = 'Aprecio el aire'
- subtitle = ''

<!DOCTYPE html>
html(lang="es")
    +head
        style.
            .imagerelative .items > div {
                position: absolute;
                width: 12%;
                height: 14%;
            }
            .imagerelative .items > div:nth-child(1) {
                left: 50%;
                top: 5%;
            }
            .imagerelative .items > div:nth-child(2) {
                left: 65%;
                top: 31%;
            }
            .imagerelative .items > div:nth-child(3) {
                left: 30%;
                top: 82%;
            }
            .imagerelative .items > div:nth-child(4) {
                left: 58%;
                top: 82%;
            }
            .imagerelative .items > div:nth-child(5) {
                left: 77%;
                top: 70%;
            }

    body
        #app.container.my-5.animate__animated.animate__fadeIn.animate__delay-1s
            h1 #{title}
            if subtitle.length>1
                h2 #{subtitle}

            .instruccion.mt-5 Observa la imagen y selecciona los contaminantes del aire.

            .row: .col-12
                .imagerelative
                    img(src="aimg/a1.png").w-100
                    .items
                        template(v-for="(i, index) in 5")
                            selectable(:isok="true" v-model="r[index]" :ref="refCount()" @isright="right++")

            .instruccion.mt-5 Selecciona las características del aire de las siguientes opciones. 

            .row.mt-3.ex1.flex-wrap
                .col-md-4(v-for="(i, index) in tempsobj.a")
                    check(v-model="r[index]" :ref="refCount()"  @isright="right++" :answer="i.v" :text="i.t")





            finalize(@evaluate="finalizar" @reset="reset" :resultado="resultado" :right="right" :total="total")
        +scripts
            script.
                app.$set(app.tempsobj, 'a', [
                    {t:'No tiene color.', v:true},
                    {t:'Contiene sal.', v:false},
                    {t:'No tiene forma.', v:true},
                    {t:'No tiene sabor.', v:true},
                    {t:'Tiene un volumen definido.', v:false},
                    {t:'Está formado por gases.', v:true},
                    {t:'No tiene peso.', v:false},
                    {t:'Ejerce presión en objetos.', v:true}, 
                    {t:'Tiene un sabor dulce.', v:false},
                ])