include ../../assets/pug/_head
include ../../assets/pug/_scripts

- title = 'Tengo una vida saludable'
- subtitle = 'Caminos para la convivencia y la reflexión'

<!DOCTYPE html>
html(lang="es")
    +head
        style.
            .sem {
                max-width: 180px;
                margin: 0 auto;
            }
            .ex3 .check {
                background: #E9F4F3;
                border: 2px solid #92D1D0;
            }

    body
        #app.container.my-5.animate__animated.animate__fadeIn.animate__delay-1s
            h1 #{title}
            if subtitle.length>1
                h2 #{subtitle}

            .instruccion.mt-5 Encierra las respuestas a cada pregunta.

            labeltext(num="1.") ¿Cuáles son los hábitos saludables que debes implementar en tu casa? 

            .row.mt-3.ex1.text-center.centerrow
                
                    selectable(:isok="true" initclass="col-md-4" v-model="r[0]" :ref="refCount()" @isright="right++"): .common.c2 Llevar una dieta saludable.
                    selectable(:isok="false" initclass="col-md-4" v-model="r[1]" :ref="refCount()" @isright="right++"): .common.c2 Ver televisión todo el día.
                    selectable(:isok="true" initclass="col-md-4" v-model="r[2]" :ref="refCount()" @isright="right++"): .common.c2 Realizar actividad física.


            .mt-3: labeltext(num="2.") ¿Qué actividades debes realizar en la escuela para tener una vida saludable? 
            
            .row.mt-3.ex1.text-center.centerrow
                    selectable(:isok="true" initclass="col-md-4" v-model="r[3]" :ref="refCount()" @isright="right++"): .common.c3 Evitar los alimentos procesados.
                    selectable(:isok="true" initclass="col-md-4" v-model="r[4]" :ref="refCount()" @isright="right++"): .common.c3 Desayunar de manera saludable.
                    selectable(:isok="true" initclass="col-md-4" v-model="r[5]" :ref="refCount()" @isright="right++"): .common.c3 Aprender sobre alimentación sana.

            .instruccion.mt-5 Marca así <markex></markex> los hábitos que tienes en tu vida. Después escribe una conclusión en tu cuaderno sobre la importancia de tener una vida saludable.

            .row.mt-3.ex3.centerrow
                .col-md-4.text-center: img(src="aimg/sem.png").img-fluid.sem
                .col-md
                    template(v-for="(i, index) in tempsobj.c")
                        check(v-model="d['ex3'+index]" :ref="refCount()"  @isright="right++" ex :answer="true" :text="i" allok)


            finalize(@evaluate="finalizar" @reset="reset" :resultado="resultado" :right="right" :total="total")
        +scripts
            script.
                app.$set(app.tempsobj, 'c', [
                    'Estoy sentado demasiado tiempo durante el día.',
                    'Como muchos alimentos con alto contenido en grasas y azúcares.',
                    'No realizo actividades físicas durante el día. Bebo solo un litro de agua al día.',
                    'Realizo actividades de esparcimiento.',
                    'Realizo trabajo de fuerza y flexibilidad 2 a 3 veces por semana.',
                    'Tengo una alimentación balanceada.',
                    'Realizo actividad física todos los días de la semana. Duermo alrededor de 8 horas diarias.'
                ])