include ../../assets/pug/_head
include ../../assets/pug/_scripts

- title = 'Sumo números de tres cifras'
- subtitle = 'Más números amigables'

<!DOCTYPE html>
html(lang="es")
    +head
        style.
            .ex1 .inputbox {
                flex-direction: column;
                align-items: flex-end;
                background: #f5f5f5;
                padding: 10px;
                border-radius: 6px;
                margin-bottom: 10px;
                text-align: right;
                font-size: 1.2rem;
            }
            .ex1 .inputbox input {
                font-size: 1.2rem;
                text-align: right;
                margin: 0;
                padding: 2px;
            }
            .ex1 .inputbox hr {
                width: 100%;
                border-top: 2px solid var(--main);
                margin: 4px 0;
            }
            .opes:nth-child(3n+1) .inputbox {
                background: var(--pastel1);
            }
            .opes:nth-child(3n+2) .inputbox {
                background: var(--pastel2);
            }
            .opes:nth-child(3n+3) .inputbox {
                background: var(--pastel3);
            }
            .ex2 .inputbox {
                width: 100%;
                display: flex;
                background: #f5f5f5;
                margin: 10px 0;
            }
            .ex2 .inputbox input {
                width: 100px;
                font-size: 1.2rem;
                padding: 4px;
                margin: 0 6px;
                border-radius: 4px;
            }
            .ex2 .inputbox .numbers {
                font-size: 1.2rem;
            }

    body
        #app.container.my-5.animate__animated.animate__fadeIn.animate__delay-1s
            h1 #{title}
            if subtitle.length>1
                h2 #{subtitle}

            .instruccion.mt-5 Resuelve las siguientes sumas.

            .row.mt-3.ex1.justify-content-around
                .col-md-3.col-6(v-for="(i, index) in tempsobj.sumas").text-right.opes
                    inputbox(v-model="r[index]" :ref="refCount()" @isright="right++" :answer="i[3]" type="number" placeh="#")
                        template(v-slot:before="")
                            div {{i[0]}}
                            div {{i[1]}} {{i[2]}}
                            hr
            .instruccion.mt-5 Resuelve los siguientes problemas.

            .row.mt-3.ex2
                .col-12
                    labeltext(num="1.") Don Pedro cosechó 342 kilos de algodón el lunes y 257 kilos el martes. ¿Cuántos kilos cosechó en total?
                    inputbox(v-model="r[8]" :ref="refCount()" @isright="right++" :answer="599" type="number" placeh="#")
                        template(v-slot:after=""): numbers() kilos.
                .col-12
                    labeltext(num="2.") En un camión de carga transportan 456 jarros de barro y 513 jarros de cerámica. ¿Cuántos jarros faltan para completar 1 000?
                    inputbox(v-model="r[9]" :ref="refCount()" @isright="right++" :answer="969" type="number" placeh="#")
                        template(v-slot:before=""): numbers() Transportan
                        template(v-slot:after=""): numbers() jarros.
                    inputbox(v-model="r[10]" :ref="refCount()" @isright="right++" :answer="31" type="number" placeh="#")
                        template(v-slot:before=""): numbers() Faltan 
                        template(v-slot:after=""): numbers() jarros para completar 1 000.
                .col-12
                    labeltext(num="3.") La semana pasada, Alfredo vendió 425 kilos de jitomate; esta semana, 363 kilos. ¿Cuántos kilos vendió en total?
                    inputbox(v-model="r[11]" :ref="refCount()" @isright="right++" :answer="788" type="number" placeh="#")
                        template(v-slot:before=""): numbers() Vendió
                        template(v-slot:after=""): numbers() kilos de jitomate.
            





            finalize(@evaluate="finalizar" @reset="reset" :resultado="resultado" :right="right" :total="total")
        +scripts
            script.
                app.$set(app.tempsobj, 'sumas', [
                    [654, '+', 235, 889],
                    [461, '+', 325, 786],
                    [742, '+', 247, 989],
                    [886, '+', 112, 998],
                    [471, '+', 525, 996],
                    [253, '+', 534, 787],
                    [339, '+', 186, 525],
                    [473, '+', 315, 788],
                ])