include ../../assets/pug/_head
include ../../assets/pug/_scripts

- title = 'Cambio unidades de medición'
- subtitle = 'Equivalencias'

<!DOCTYPE html>
html(lang="es")
    +head
        style.
           .ex1 .parrafoinputs {
                text-align: center;
                padding: 20px 6px;
            }
            .ex1 .parrafoinputs .inputbox input {
                max-width: 80px;
            }
            .ex1 .parrafoinputs .inputbox .inp_example {
                display: inline;
            }
            .ex1 .parrafoinputs .inputbox .numbers {
                display: inline;
                font-size: 1.4rem;
                color: var(--sec);
            }



    body
        #app.container.my-5.animate__animated.animate__fadeIn.animate__delay-1s
            h1 #{title}
            if subtitle.length>1
                h2 #{subtitle}

            .instruccion.mt-5 Completa las siguientes conversiones. Observa el ejemplo.
            
            .row.mt-3.ex1
                .col-md-6.mt-2
                        .parrafoinputs.c2
                            inputbox(:answer="900" example)
                                template(v-slot:before="") 90 000 dam = 
                                template(v-slot:after="") km
                template(v-for="(i, index) in tempsobj.a")
                    .col-md-6.mt-2
                        .parrafoinputs.c2
                            inputbox(v-model="d['a'+index]" :ref="refCount()" @isright="right++"  type="number" placeh="#" :answer="i.v")
                                template(v-slot:before="") {{i.b}}
                                template(v-slot:after="") {{i.a}}


            .instruccion.mt-5 Lee el problema y marca la respuesta correcta.

            .row.mt-3.ex2
                .col
                    choose(v-model="r[0]" :ref="refCount()" text="Santiago quiere ir a la casa de Israel, pero su carro sólo tiene gasolina para viajar 12 km. Si Santiago vive a 198 hm de la casa de Israel, ¿cuántos hm le faltarían para llegar con la gasolina que tiene?" :options="['78 hm','186 hm','78 km']" @isright="right++" :answer-num="0")


            finalize(@evaluate="finalizar" @reset="reset" :resultado="resultado" :right="right" :total="total")
        +scripts
            script.
                app.$set(app.tempsobj, 'a', [
                    {b: '7m = ', v: 700, a: 'cm' },
                    {b: '', v: 6000, a: 'm = 6 k' },
                    {b: '', v: 900, a: 'dm = 90 m' },
                    {b: '30 000 m = ', v: 30, a: 'km' },
                    {b: '8 000 mm = ', v: 8, a: 'm' },
                ])