include ../../assets/pug/_head
include ../../assets/pug/_scripts

- title = 'Digo lo mismo pero diferente'
- subtitle = 'Maneras de expresarnos / Yo lo diría así'

<!DOCTYPE html>
html(lang="es")
    +head
        style.
            /*
            .ex1 {}
            */
    body
        #app.container.my-5.animate__animated.animate__fadeIn.animate__delay-1s
            h1 #{title}
            if subtitle.length>1
                h2 #{subtitle}

            .instruccion.mt-5 Relaciona con una línea cada palabra o frase con otra que tenga significado parecido.

            .row.mt-3.ex1
                .col
                    relational(v-if="tempsobj.sources" v-model="r[0]" :ref="refCount()" @isright="right++" :sources="tempsobj.sources" :targets="tempsobj.targets" :oks="tempsobj.oks")
                        template(v-slot:source="{source}"): numbers(c=5 smaller) {{source.t}}
                        template(v-slot:target="{target}"): numbers(c=4 smaller) {{target.t}}
                    
            
                    




            finalize(@evaluate="finalizar" @reset="reset" :resultado="resultado" :right="right" :total="total")
        +scripts
            script.
                //app.$set(app.tempsobj, 'a', [])
                app.$set(app.tempsobj, 'sources', [
                    {t: 'jefe'},
                    {t: 'bolillo'},
                    {t: 'estuvo padre'},
                    {t: 'lonche'},
                    {t: '¡quihubo!'},
                ])
                app.$set(app.tempsobj, 'targets', [
                    {t: 'birote'},
                    {t: 'papá'},
                    {t: 'torta'},
                    {t: 'estuvo divertido'},
                    {t: '¡hola!'},
                ])
                app.$set(app.tempsobj, 'oks', [
                    ['s_0', 't_1'],
                    ['s_1', 't_0'],
                    ['s_2', 't_3'],
                    ['s_3', 't_2'],
                    ['s_4', 't_4'],
                ])