include ../../assets/pug/_head
include ../../assets/pug/_scripts
include ../../assets/pug/_parrafo

- title = 'Analizo el traslado de productos'
- subtitle = 'Redes carreteras y ferroviarias'

<!DOCTYPE html>
html(lang="es")
    +head
        style.
            .imagerelative .items > div {
                min-width: 8%;
                min-height: 9%;
            }
            .imagerelative .items > div .circledactive {
                display: none;
            }
            .imagerelative .items > div.on {
                border-radius: 20px;
                border: 2px solid var(--main);
            }
            .imagerelative .items > div:nth-child(1) {
                left: 50%;
                top: 3%;
                width: 40%;
            }
            .imagerelative .items > div:nth-child(2) {
                left: 2%;
                top: 28%;
                width: 48%;
            }
            .imagerelative .items > div:nth-child(3) {
                left: 26%;
                top: 45%;
                width: 64%;
            }
            .imagerelative .items > div:nth-child(4) {
                left: 2%;
                top: 79%;
                width: 96%;
            }
            .imagerelative .items > div:nth-child(5) {
                left: 2%;
                top: 88%;
                width: 64%;
            }
            .imagerelative .items > div:nth-child(6) {
                left: 10.3%;
                top: 11%;
                width: 8%;
                height: 35%;
            }
            .imagerelative .items > div:nth-child(7) {
                left: 18%;
                top: 3%;
                width: 8%;
                height: 77%;
            }
            .imagerelative .items > div:nth-child(8) {
                left: 73.8%;
                top: 20%;
                width: 8%;
                height: 51%;
            }
            .imagerelative .items > div:nth-child(9) {
                left: 89.8%;
                top: 20%;
                width: 8%;
                height: 51%;
            }

    body
        #app.container.my-5.animate__animated.animate__fadeIn.animate__delay-1s
            h1 #{title}
            if subtitle.length>1
                h2 #{subtitle}

            .instruccion.mt-5 Completa el texto con las palabras del recuadro y después encuéntralas en la sopa de letras. Consulta las páginas 106 a 108 de tu Atlas de Geografía del Mundo.
            recuadropalabras(c=5 :palabras="['Estambul','Canadá','Pakistán','China','Seúl','Europa','España','Panamericana','americano']")
            .row.mt-3.ex2
                .col-12
                - var arr = []
                - arr.push('La carretera')
                - arr.push(['Panamericana'])
                - arr.push(' se encuentra en el continente ')
                - arr.push(['americano'])
                - arr.push('. Este sistema carretero tiene una extensión de 48 000 km de longitud, lo que la hace la autopista más larga del mundo. Recorre 14 países, desde ')
                - arr.push(['Canadá'])
                - arr.push('hasta Argentina y sólo se interrumpe 87 km en Panamá. <br> En el continente asiático, existe una carretera con más de 20 000 km de longitud, que se extiende desde Tokio hasta ')
                - arr.push(['Estambul'])
                - arr.push('. La carretera AH1 pasa también por otros países como India, ')
                - arr.push(['Pakistán'])
                - arr.push(', Irán y China. <br>')
                - arr.push('En ')
                - arr.push(['Europa'])
                - arr.push(', la carretera E - 05 tiene una longitud de 2 960 km. Inicia en Gran Bretaña y, recorre el Reino Unido, Francia y ')
                - arr.push(['España'])
                - arr.push('. <br>')
                - arr.push('Corea del Sur tiene una de las rutas aéreas más transitadas en el mundo, en la que, a diario, cinco aerolíneas realizan 159 vuelos, entre las ciudades de ')
                - arr.push(['Seúl'])
                - arr.push(' y Jeju. <br>')
                - arr.push('El primer lugar del mundo en vías férreas pertenece a ')
                - arr.push(['China'])
                - arr.push(', que tiene un total de 6 920 km de ferrocarril de alta velocidad.')
                +parrafo(0, arr, 'c5')
            
            .row.mt-3.ex2.centerrow
                .col-md-8
                    .imagerelative
                        img(src="aimg/sup.png").w-100
                        .items
                            template(v-for="(i, index) in 9")
                                selectable(:isok="true" v-model="r[index+9]" :ref="refCount()" @isright="right++")
                .col-md: img(src="aimg/im.jpg").img-fluid
            finalize(@evaluate="finalizar" @reset="reset" :resultado="resultado" :right="right" :total="total")
        +scripts
            script.
                //app.$set(app.tempsobj, 'a', [])